/* Reset beberapa gaya default */
body,
h4,
button,
form,
input {
    margin: 0;
    padding: 0;
}

/* CSS untuk tampilan halaman "Update Buku" */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
}

h4 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

form div {
    margin-bottom: 10px;
}

form input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

form button[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100px;
    margin-top: 10px; /* Tambahkan margin-top agar tombol tidak terlalu dekat dengan input */
}

form button[type="submit"]:hover {
    background-color: #45a049;
}

form a {
    text-decoration: none;
    color: #333;
    margin-left: 8px;
    font-size: 14px;
}

form a:hover {
    color: #871202;
}
